# Created by https://www.toptal.com/developers/gitignore/api/swiftpm
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm

### SwiftPM ###
Packages
.build/
.swiftpm
xcuserdata
DerivedData/
*.xcodeproj

# End of https://www.toptal.com/developers/gitignore/api/swiftpm
